@font-face {
  font-family: "Helvetica Neue Cyr-Bold";
  src: url(../font/Bold/HelveticaNeueCyr-Bold.woff) format("woff"),
    url(../font/Bold/HelveticaNeueCyr-Bold.eot) format("eot"),
    url(../font/Bold/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
